/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    font-family: Oxygen, Arial, sans-serif;
    font-size: 14px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    padding: 0;
    background: url("../img/bg-body.png");
}
h1 {
    font-size: 58px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #323338;
    /*  background: #0dc5ff;*/
}
h2{
    font-size: 44px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #000000;
}
a{
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
header,
main,
footer,
nav,
article
{display: block;}
/*Footer*/
.main-header{
    height: 480px;
    background:url("../img/header.jpg") no-repeat;
    /*Масштабирует изображение с сохранением пропорций так,
    чтобы его ширина или высота равнялась ширине или высоте блока.*/
    background-size: cover;
}
.logo{
    height: 165px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
}
.logo h1{
    margin-bottom:15px;
}
.logo__title{
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8e8588;
}
.navigation{
    width:845px;
    margin-left:auto;
    margin-right:auto;
}

.main-nav{
    margin: 0;
    list-style: none;
    /*border: 1px solid #000000;*/
    background: #000000;
    border-radius: 34px;
 /*   padding: 19px 0;*/
}
.main-nav li{
    display: inline;
   /* border: 1px solid #faff96;*/
    /*margin-right: 40px;*/
}
.main-nav li:nth-child(1){
    margin-left: 25px;
}
.main-nav a{
    display: inline-block;
    text-decoration: none;
    color: #aaaaaa;
    padding: 20px;
}
.main-nav a:hover{
    color: #ffffff;
}
.main-nav .active{
    color: #ffffff;
}
/*Main*/
.main-content{
	min-height: 1190px;
}
.main-content__gallery{
    margin-top: 80px;
}
.section{
	width: 260px;
	height: 370px;
	float: left;
	margin-right: 50px;
}
.section:last-child{
	margin-right: 0;
}
.section__img{
	width: 260px;
	height: 160px;
	border-radius: 5px;
	overflow: hidden;
}
.section p{
	margin-top: 40px;
}
a.btn{
	display:inline-block;
	color: #ffffff;
	border-radius: 5px;
	background: #000000;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
	margin-top: 20px;
}
.divider {
	background: #ccc1c4;
	height: 1px;
	margin-top: 100px;
}
.main-content__content{
    min-height: 480px;
    width: 100%;
    margin-top: 65px;
   /* background: #b3d4fc;*/
}
.content{
    float:left;
    width: 780px;
    margin-right: 45px;
    /*background: #1bfc55;*/
}
a.content__red{
    color: red;
}
.sidebar{
    float: right;
    width: 360px;
   /* background: #fce312;*/
}
.sidebar__menu{
    margin: 0;
    padding: 0;
}
.sidebar__menu li{
    list-style: none;
}

a.sidebar__menu_red{
    display: inline-block;
    padding: 5px 0;
    color: red;
    text-transform: none;
    /*line-height: 15px;*/
}
/*Main*/

/*Footer*/
.main-footer{
    width: 100%;
    height: 630px;
    background: #121212;
}
.copyright{
    width: 100%;
    height: 100px;
    background: #090909;
}
.copyright p{
    color: #878787;
    text-align: center;
    padding-top: 35px;
}
.copyright a{
    /*color: #535353;*/
    opacity: 0.6;
    display: inline-block;
    text-decoration: none;
}
.column{
    padding-top: 90px;

}
.column1{
    float:left;
    margin-right: 45px;
  /*  background: #eaff93;*/
}
.column1:nth-last-child(2){
    margin-right: 0;
}
.list{
    margin: 0;
    padding: 0;
}
.list-item{
    width: 260px;
    height: 160px;
    color:#ffffff;
    opacity: 0.6;
    list-style: none;
}

.list-item__foto{
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.list-item__content{
    font-size: 13px;
    line-height: 23px;
}
.list-item__data{
    clear: both;
}
.column__content{
    width: 600px;
    float: right;
    /*background: #8affc6;*/
}
.column-title{
    color: white;
    margin: 0;
    /* background: green;*/
}
.column__content p{
    margin-top: 30px;
    color:#ffffff;
    opacity: 0.6;
}
.column__content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Footer*/
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
